<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>TravelKarnataka</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>Controller.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPackage</display-name>
    <servlet-name>AddPackage</servlet-name>
    <servlet-class>Controller.AddPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPackage</servlet-name>
    <url-pattern>/AddPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePackage</display-name>
    <servlet-name>UpdatePackage</servlet-name>
    <servlet-class>Controller.UpdatePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePackage</servlet-name>
    <url-pattern>/UpdatePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePackage</display-name>
    <servlet-name>DeletePackage</servlet-name>
    <servlet-class>Controller.DeletePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePackage</servlet-name>
    <url-pattern>/DeletePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyPackageDetail</display-name>
    <servlet-name>ModifyPackageDetail</servlet-name>
    <servlet-class>Controller.ModifyPackageDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPackageDetail</servlet-name>
    <url-pattern>/ModifyPackageDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePackages</display-name>
    <servlet-name>SavePackages</servlet-name>
    <servlet-class>Controller.SavePackages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePackages</servlet-name>
    <url-pattern>/SavePackages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>Controller.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTrip</display-name>
    <servlet-name>BookTrip</servlet-name>
    <servlet-class>Controller.BookTrip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTrip</servlet-name>
    <url-pattern>/BookTrip</url-pattern>
  </servlet-mapping>
</web-app>